{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h1>{% trans "Sign Up" %}</h1>
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">{% trans "Sign Up" %}</button>
        </form>
        <div class="links">
            <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
        </div>
    </div>
{% endblock %}
